body {
    font-family: 'Open Sans', sans-serif;
}
.leaflet-popup-content {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}
.leaflet-popup-content h3 {
    font-weight: 300;
    font-size: 1.5rem;
}
.leaflet-popup-content h5 {
    font-size: 0.9rem;
}